body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    text-align: center;
    font-size: 60px;
    padding-top: 20px 0 20px 0;
    background-color: black;
    color: white;
}

#outer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

#playerPick,
#comPick {
    font-size: 200px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content div {
    margin: 20px;
    font-size: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0;
}

footer {

    text-align: center;
}

button {
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    font-family: inherit;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 0;
}



#reset {
    background-color: red;
}

#reset:hover {
    background-color: rgb(238, 51, 51);
}

#reset:active {
    background-color: rgb(238, 92, 92);
}


#buttons {
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#scores {
    font-weight: 900;
}

#cat {
    width: 50px;
    height: 50px;
}

#rock:disabled,
#paper:disabled,
#scissors:disabled {
    background-color: white;
    border: 1px dashed black;

}

#rock:not(:disabled):hover,
#paper:not(:disabled):hover,
#scissors:not(:disabled):hover {
    background-color: rgb(85, 85, 85);
}

#rock:not(:disabled):active,
#paper:not(:disabled):active,
#scissors:not(:disabled):active {
    background-color: rgb(163, 163, 163);
}